.card{
    display:flex;
    justify-content: center;
   white-space:normal;
   height:700px;
   width:100%;
   padding-top:120px;
}
.cardText{
color:#202124;
font-size: 24px;
font-weight: bold;
line-height: 20px;
}

